/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* h1, h2, h3 {
  font-family: "Poppins" sans-serif;
} */
html {
  font-size: 16px;
  color: #e2e3ed;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 0.875em;
  background-color: #202322;
}

ul {
  font-size: 1.125em;
  list-style: none;
  padding: 0;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
}

h2 {
  font-size: 1.875em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  line-height: 1.3em;
  text-align: left;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 1.1em;
}

img {
  width: 100%;
  max-height: 240px;
}

figure {
  display: flex;
  padding: 0;
  margin: 0;
}

.content-wrapper {
  width: 90%;
}
/* Base Header and Footer Styles */

footer,
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
/* Base Header styles */
header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 15px 0;
}

header figure {
  display: flex;
  justify-content: center;
  width: 70%;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 45%;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}

.header-divider {
  width: 100%;
}
/* Base Footer styles */
footer .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 55%;
}

footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

footer .contact {
  /* list-style: none; */
  text-align: center;
  padding: 0;
}

footer .social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer h3 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
  width: 100%;
}

footer .social-icons {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.social-icons i {
  font-size: 1.5em;
}

footer .social p {
  background-color: #527158;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

address {
  font-style: normal;
}

.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
}

.copyright p {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
/*------------------ Mobile Styles-------------------- */
/* Home Page-Main section - Hero area */
.hero-area {
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-area h1 {
  padding-top: 55px;
  margin-bottom: 330px;
}
/* Home Page-Aside section - signup form */
aside {
  background-color: #527158;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

aside h2 {
  display: flex;
  width: 90%;
  padding-top: 30px;
  margin-bottom: 10px;
}

.form-description p {
  padding-top: 15px;
  margin-bottom: 70px;
}

.form input {
  width: 100%;
  padding: 20px 0;
}
/* Home Page-Features section */
.features {
  background-image: url("../img/features.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features h2 {
  width: 100%;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 10px;
}

.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  width: 70%;
  margin-bottom: 40px;
}

.features i {
  font-size: 3.75em;
  margin-bottom: 0;
}

/* Home Page-Reviews section */
.reviews {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
}

.reviews .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 90%;
}

.reviews article {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.reviews h2 {
  margin: 55px 0 35px;
  padding: 0;
}

.reviews h3 {
  width: 90%;
  margin: 20px 0;
  padding: 0;
}

.reviews p {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}

.retreat-image {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
/* --------------------About page------------------- */
.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* ------------Embedded Google Map------------------- */

.map figure {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Contact info */

.contact-section {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-section h1 {
  width: 100%;
}

.contact-section h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.contact-section ul {
  /* list-style: none; */
  padding: 0;
  margin-top: 5px;
}
/* ---------------------------FAQ page----------------- */
.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
/* Homepage input form */
/* aside .form {
  margin-top: 30px;
} */
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 0.5em 0;
  margin-top: 20px;
  margin-bottom: 70px;
  background-color: #2a423a;
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}
/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* -----------------Tablet styles ------------------*/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }
  /* header section */
  header .content-wrapper {
    flex-flow: row nowrap;
  }

  .hero-area h1 {
    display: flex;
    width: 80%;
  }

  header figure {
    width: 90%;
  }

  header nav {
    justify-content: flex-end;
  }

  header nav ul {
    width: 45%;
    justify-content: space-between;
  }
  /* Home Page-Aside section - signup form */
  aside .content-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  aside .form-description {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  aside .form-description p,
  h3 {
    width: 80%;
  }

  aside .form {
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  aside .form h3 {
    width: 90%;
    text-align: left;
  }

  aside .form input {
    width: 90%;
  }
  /* Home Page-Features section */
  .features .features-items {
    width: 50%;
  }

  .features h2 {
    padding-top: 100px;
  }

  .features .features-items p {
    width: 60%;
  }
  /* Home Page-Reviews section */
  .reviews .content-wrapper {
    justify-content: flex-start;
  }

  article img {
    margin: 5px 10px 10px 0;
  }

  .reviews article {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .reviews h2 {
    width: 75%;
  }

  .reviews h3 {
    margin: 0 10px;
  }

  .reviews .retreat-article {
    width: 50%;
  }

  .reviews p {
    width: 90%;
    padding: 0;
    margin: 10px;
  }

  .reviews .retreat-image {
    display: flex;
    width: 50%;
  }

  .reviews img {
    width: 100%;
    max-height: 320px;
  }
  /* footer section */
  footer .content-wrapper {
    width: 90%;
    flex-flow: row wrap;
  }

  footer .contact {
    width: 50%;
  }

  footer .social {
    width: 50%;
  }
  
  footer .social-icons {
    width: 200px;
  /* ---------------------------FAQ page----------------- */
  .faq h1 {
    width: 100%;
  }

  .faq {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .faq .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .faq .faq-content {
    flex-basis: 45%;
  }

  .faq .faq-content p,
  h3 {
    width: 100%;
  }
  /* ---------------------------About page----------------- */
  .mission {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .mission h2 {
    width: 75%;
  }

  .mission-content {
    display: flex;
    justify-content: space-between;
  }

  .mission-content p {
    width: 45%;
  }
  /* Embedded Google map */
  
  .map figure {
    padding-bottom: 46%;
  }
  
/* Contact section */

  /* .contact-section {
    padding-top: 100px;
    padding-bottom: 100px;
  } */

  /* .contact-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  } */

  /* .contact-section h2 {
    width: 75%;
  } */

  /* .contact-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    flex-basis: 45%;
  } */

  /* .contact-content h3 {
    display: flex;
    width: 100%;
  } */
}
/* Desktop styles */
@media only screen and (min-width:1200px) {
  /*-------------------------Base Styles-------------------*/
  h1 {
    font-size: 3.75em;
  }

  .content-wrapper {
    max-width: 960px;
    width: 80%;
  }
  /* --------------------Home Page--------------------------- */
  aside .form-description h2,
  p {
    width: 80%;
  }

  aside .form-description p {
    font-size: 1.125em;
  }

  aside .form {
    width: 50%;
  }

  aside .form input {
    width: 80%;
  }

  aside .form h2 {
    width: 80%;
    text-align: left;
  }

  .features .content-wrapper {
    justify-content: flex-start;
  }

  .features h2 {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    text-align: left;
  }

  .features .features-items {
    width: 33%;
  }
  
  /* Footer */
  
  /* -------------------------FAQ Page----------------------------- */
  .faq h2 {
    width: 100%;
  }
}

/* ---------------------------About Page--------------------------- */

.map figure {
  padding-bottom: 38%;

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:after,
  *:before {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}